#header {
    flex-wrap: wrap;
    justify-content: space-around !important;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#logo {
    display: inline-block;
}

#secure {
    margin-left: 18px;
    margin-top: 6px;
    color: #595959;
    font-weight: 400;
    font-size: 16px;
}

#secure img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
}

#shipping-form,
#payment-form {
    max-width: 800px;
    margin: 0 auto;
}

#shipping-form label,
#credit-card-fields label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

#shipping-form input, #shipping-form select,
#credit-card-fields input, #credit-card-fields select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #949494;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 1px 4px 0px inset #0e0e0e05;
    outline: 3px solid #0000;
    min-width: 0;
    height: 48px;
    padding: 9px 12px;
    /* font-family: inherit;
    font-size: 16px;
    line-height: 1.7; */
}

#shipping-form select,
#credit-card-fields select {
    padding-left: 12px;
    padding-right: 36px;
    transition: border-color .2s ease-out, box-shadow .2s ease-out;
}

#shipping-form select:hover,
#credit-card-fields select:hover {
    border-color: #0e0e0e91;
    box-shadow: 0px 2px 6px 2px #00000026;
}

#shipping-form button,
#payment-form button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    /* z-index: 10;
    background: 0 0; */
    outline: none;
    min-height: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: transform .2s cubic-bezier(.345,.115,.135,1.42), opacity .15s ease-out;
}

#shipping-form button:hover,
#payment-form button:hover {
    box-shadow: 0px 4px 8px 3px #00000026;
}

/* Error styling */
#shipping-form input:user-invalid, #shipping-form select:user-invalid,
#payment-form input:user-invalid, #payment-form select:user-invalid {
    border: 1px solid #9a0027;
    background-color: #ffeaf0;
}

.error-message {
    color: #9a0027;
    font-size: 14px;
    font-weight: 600;
    display: none;
}

/* Required and optional indicators */
.required {
    color: #9a0027;
    font-size: 20px;
    font-weight: bold;
}

.optional {
    color: #999;
    font-weight: normal;
}