/* Banners */ 

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 0px 18px;
}

/* Left Banner */
#banner-left {
    /* background-color: #fdf4d9; */
    padding: 0;
    /* width: 900px; */
    width: 65vw;
    background-color: #FFFBD8;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

#banner-left:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#banner-left img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px 12px 12px 0px;
    /* Elliptical shape 90% wide 100% tall centered at the right middle of the image. */
    clip-path: ellipse(100% 100% at 100% 50%); 
}

#banner h2 {
    font-size: 50px;
    /* font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif"; */
    margin-bottom: 10px;
}

#banner p {
    /* color: #555; */
    font-size: 19.01px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 15px;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 24px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.786);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

/* Right Banner */
#banner-right {
    width: 30vw;
}

#banner-right img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    background-size: cover;
}

.banner-right-text {
    padding: 0px 18px 18px 18px;
    /* position: absolute; */
    top: 325px;
    width: 100%;
    cursor: pointer;
}

.banner-right-text p {
    margin-bottom: 0px !important;
    letter-spacing: 0.13505px !important;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 27.01px !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
}

.banner-right-text span {
    letter-spacing: 0.08px !important;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.25 !important;
}

.banner-right-content {
    border-radius: 12px;
    transition: 0.3s;
}

.banner-right-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Adjust the height of the shadow effect */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    /* padding: 10px; */
    border-radius: 12px;
}

/* Dsicover Gifts */

#discover {
    /* margin: 40px 0; */
    margin-bottom: 50px;
}

h2 {
    /* font-size: 24px; */
    /* margin-bottom: 10px; */
    letter-spacing: .13505px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 27.01px;
    font-weight: 500;
    line-height: 1.3;
}

.cards-container {
    /* padding: 2px 16px; */
    padding: 0px 36px;
    margin: 0px 60px;
}

.cards-container div {
    margin-bottom: 6px;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border: none;
    transition: 0.3s;
    text-align: center;
    width: 160px;
    padding: 0px;
    /* height: 192px; */
    height: fit-content;
    margin: 5px;
    /* transition: all 0.3s ease; */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    /* background-color: #ffffff00; */
}

.card img {
    width: 160px;
    height: 100%;
    /* background-color: #eaeaea;
    border: 1px solid; */
    border-radius: 50%;
    padding: 10px;
    transition: opacity 0.2s ease-out;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
}

/* .card img:hover {
    transform: scale(1.1);
} */

.card:hover {
    /* padding: 10px; */
    border-radius: 10px;
    /* border: 2px solid black; */
    background-color: white;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    box-shadow: 0px 4px 8px 3px #00000026;
    cursor: pointer;
}

/* Most Popular Categories */

#most-popular-categories {
    padding: 0px 50px;
    margin-bottom: 50px;
}

.most-pop-categ-content {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 18px;
}

.most-popular-card {
    border: none;
    max-width: 190px;
    height: fit-content;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.most-popular-card img {
    width: 100%;
    height: 245px;
    border-radius: 10px;
    padding: 0;
}

.most-popular-card:hover img {
    box-shadow: 0px 4px 8px 3px #00000026;
    cursor: pointer;
}

/* Personalized Gifts */

#personalized-gifts {
    /* flex-wrap: wrap;
    display: flex !important; */
    margin: 80px 25px;
    padding: 0px 18px;
}

.personalized-gifts-text {
    align-self: center;
    /* justify-content: flex-end; */
    padding-left: 42px;
}

.personalized-gifts-text p {
    color: #595959 !important;
}

.text-p-2 {
    padding-bottom: 24px;
    padding-right: 42%;
}

.shop-btn {
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    outline: none;
    border: none;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #0e0e0e17;
    color: #222;
    transition: transform 0.2s cubic-bezier(0.37, 0.23, 1, -1.51), opacity 0.15s ease-out;
}

.shop-btn:hover {
    background-color: #0e0e0e2e;
    box-shadow: 0px 4px 8px 3px #00000026;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
    width: 100vw; /* Viewport width */
    max-width: 100%; /* Prevents extra space */
    margin-bottom: 50px;
}

.grid-item1 {
    grid-column: span 2;
    /* width: 100%; */
}

.grid-item {
    justify-self: center;
    align-self: center;
    /* width: 100%; */
    /* width: 300px; */
}

.grid-item img {
    object-fit: cover;
    width: 100%; 
    height: 100%; 
    transition: 0.3s ease-in-out;
    border-radius: 12px;
}

.gift-grid-card {
    position: relative;
    border: none;
    overflow: hidden; /* Prevents image from overflowing */
    /* height: fit-content; */
    height: 314px;
    max-width: 300px; /*fixed for responsive*/
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 12px;
}

.fav-btn button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    top: 5px;
    right: 5px;
    background-color: white;
    border: 1px solid #949494;
    padding: 6px;
    margin-top: 6px;
    margin-right: 4px;
    /* text-decoration: none; */
    /* display: inline-block; */
    border-radius: 50%;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.fav-btn button:hover {
    box-shadow: 0px 4px 8px 3px #00000026;
}

.fav-btn img {
    width: 18px !important;
}

.price-badge {
    padding: 0px 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.price-badge-2 {
    /* display: none !important; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 275px;
    /* right: 230px; */
    border: 1px solid #949494;
    background-color: #fff;
    color: #222;
    word-break: break-word;
    /* min-width: 25px; */
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    border-radius: 12px;
    padding: 6px 8px;
    transition: visibility 0s, opacity 0.3s ease-in-out; 
}

.gift-grid-card:hover {
    display: block;
    box-shadow: 0px 4px 8px 3px #00000026;
}

.gift-grid-card:hover .price-badge-2 {
    /* display: block !important; */
    visibility: visible;
    opacity: 1;
}

.gift-grid-card:hover .fav-btn button {
    visibility: visible;
    opacity: 1;
}

.gift-grid-card img:hover {
    transform: scale(1.08); /* Zoom in by 10% */
}

/* Responsive */
@media (max-width: 1400px) {
    /* .card {
        flex: 1 1 calc(50% - 20px);
    } */

    .most-pop-categ-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top: 18px;
    }
}

@media (max-width: 1200px) {
    
    #banner-left {
        width: 100%;
    }

    #banner-right {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-item1 {
        grid-column: span 1;
        /* width: 100%; */
    }
}

@media (max-width: 700px) {
    
    #banner-left img {
        width: 0;
    }

    .grid-container {
        grid-template-columns: 1fr ;
    }
    
    .grid-item1 {
        grid-column: span 1;
        /* width: 100%; */
    }

    .personalized-gifts-text {
        text-align: center;
    }

    .personalized-gifts-text p {
        padding-right: 0;
    }
}