* {
    margin: 0;
    padding: 0;
    /* font-family: 'Nunito Sans', 'Inter', system-ui, sans-serif !important; */
}

body, .footer-content {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Inter', system-ui, sans-serif;
    /* font-family: 'Nunito Sans', 'Inter', system-ui, sans-serif !important; */
    font-size: 14px;
    line-height: 1.4;
}

h2, .footer-content h2 {
    font-size: 20px; /* Etsy’s category heading size */
    font-weight: 700; /* Bold for emphasis */
    margin: 0;
    letter-spacing: 0.5px; /* Gives a premium feel */
}

p, .footer-content p {
    font-size: 14px; /* Etsy’s "Shop Now" size */
    font-weight: 500; /* Medium weight for subtlety */
    margin: 5px 0 0;
    line-height: 1.25;
    letter-spacing: 0.08px;
    margin-top: 6px !important;
    /* opacity: 0.9; Slightly transparent for subtlety */
}

/* Header */

#header-div {
    display: block;
    position: relative;
    background-color: white;
    border-bottom: rgb(223, 220, 220) solid;
    padding: 15px 36px;
    /* height: 10%; */
    width: 100%;
    margin-bottom: 50px;
    z-index: 999;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    #header a {
      float: none;
      display: block;
      text-align: left;
    }
    #header-right {
      float: none;
    }
  }

/* Responsive Design */
/* @media (max-width: 600px) {
    .etsy-header {
        align-items: stretch;
    }

    .top-nav, .bottom-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bottom-nav {
        margin-top: 5px;
    }

    .search-box {
        flex-grow: 1;
    }
} */

/* Responsive Adjustments */
@media (max-width: 1197px) {
    .etsy-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* .bottom-nav {
        display: flex;
        flex-grow: 1;
        max-width: 600px;
        margin-left: 15px;
    } */

    #banner-right {
        display: none;
    }

    #banner-left {
        width: 100%;
        flex-grow: 1;  /* Ensure the first shape fills the container */
    }
}

#logo img {
    height: 40px;
}

#logo a {
    text-decoration: none;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    /* border: none; */
    /* Reset default button styles */
    /* outline: none;
    appearance: none; */
}

button:hover {
    background-color: rgb(223, 220, 220);
    color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    height: fit-content;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(121, 43, 43, 0.2);
    /* z-index: 1; */
    z-index: 99;  /* Ensure dropdown is above the overlay */
    border-radius: 5px;
    border: 1px solid #0e0e0e2e !important;
    top: 130%;
    padding: 12px 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    /* padding: 12px 18px; */
    padding: 12px 6px 12px 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(223, 220, 220);
    /* text-decoration: underline; */
}

/* Show the dropdown menu on click */
/* .dropdown:target .dropdown-content {
    display: block;
} */
.show {
    display: block !important;
}

.dropdown-arrow {
    display: none;
    bottom: -19px;
    content: "";
    opacity: 1;
    width: 12px;
    height: 12px;
    transition: opacity .18s ease-out;
    /* bottom: -6px; */
    left: calc(50% - 6px);
    transform: rotate(45deg);
    z-index: 100;
    background-color: #f9f9f9;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #0e0e0e2e !important;
    border-top: 1px solid #0e0e0e2e !important;
    position: absolute;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

.dropdown-overlay {
    position: fixed;
    top: 0px; /* check header height? */
    left: 0;
    width: 100vw;
    height: 100vh;
    /* height: calc(100% - 82px); Full height minus header */
    background: rgba(0, 0, 0, 0.5);
    display: none;  /* Hidden by default */
    z-index: 99; /* Make sure it's behind the dropdown */
    /* transition: opacity 0.3s ease-in-out;
    opacity: 0; */
    display: none;
    overscroll-behavior: contain;
    overflow: hidden auto;
    /* transition: visibility linear 0.3s, z-index linear 0.3s, background 0.3s ease-out; */
}

.dropdown.show .dropdown-overlay {
    display: block;
    opacity: 1; 
}

.navbar-icons {
    width: 20px;
    vertical-align: bottom;
}

#search-container {
    display: flex;
    align-items: center;
    background-color: rgba(#222,.05);
    padding: 5px 7px;
    padding-right: 5px;
    border: 2px solid #222;
    border-radius: 50px;
    width: 70%;
    height: 50px;
    position: relative; /* Important for absolute positioning of the dropdown */
}

#search-input {
    background: none;
    padding: 8px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    width: 100%;
}

#search-button {
    background-color: #f1641e;
    border: none;
    border-radius: 50px;
    padding: 7px;
    cursor: pointer;
}

#search-button img {
    display: flex;
    align-items: center;
    width: 25px;
}

#search-container:hover #search-button {
    background-color: rgba(222, 105, 15, 0.888);
    padding: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
    transition: all 0.2s ease-out;
}

#search-container:hover #search-button img {
    width: 29px;
}

#search-container:hover {
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#search-suggestions {
    display: none; /* Initially hidden */
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-top: 12px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(0, 0, 0, 0.15) 0px 4px 8px 3px;
    /* z-index: 70; */
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: opacity .18s ease-out;
}

/* 
.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
} */

.suggestions-list {
    list-style: none;
    padding: 12px 0px;
    margin: 0;
}

.suggestions-list li {
    padding: 10px 18px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.search-overlay {
    position: fixed;
    top: 0px; /* check header height? */
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;  /* Hidden by default */
    z-index: 1; /* Make sure it's behind the list */
    display: none;
    overscroll-behavior: contain;
    overflow: hidden auto;
}

.search-overlay.show {
    display: block; /* Shown when the 'show' class is added */
}

#right-header {
    display: flex;
    margin-left: 10px;
    /* justify-content: space-between; */
    /* justify-content: flex-end; /* Aligns items to the right */
    /* align-items: center; */
    gap: 5px; /* Space between icons */
}

/* Button styles */
#favs, #cart {
    position: relative; /* Important: This makes the tooltip position relative to the button */
}

#favs button, #cart button {
    background-color: white;
    border: none;
    padding: 10px;
    /* text-decoration: none; */
    /* display: inline-block; */
    border-radius: 50%;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative; /* Needed for tooltip positioning */
    display: flex;
    align-items: center;
    justify-content: center;
}

#favs button:hover, #cart button:hover {
    background-color: #c9eaff;
    /* color: #090088; */
}

/* Tooltip styling */
.tooltip {
    position: absolute;
    background-color: #0A2C64; /* Dark blue */
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    bottom: -45px; /* Position below the icon */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Tooltip arrow */
.tooltip::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #0A2C64 transparent;
}

/* Show tooltip on hover */
#favs:hover .tooltip, #cart:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px); /* Smooth hover effect */
}

.cart-badge {
    position: absolute;
    top: 1px; /* Adjust as necessary */
    right: 1px; /* Adjust as necessary */
    background-color: red;
    color: white;
    border: 1px solid white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: none;  /* flex block*/
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center;
    /* padding: 5px; Remove padding */
}

#cart button:hover .cart-badge {
    background-color: #0A2C64;
    border-color: #c9eaff;
}

/* Banners */ 

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 0px 18px;
}

/* Left Banner */
#banner-left {
    /* background-color: #fdf4d9; */
    padding: 0;
    /* width: 900px; */
    width: 65vw;
    background-color: #FFFBD8;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

#banner-left:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#banner-left img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px 12px 12px 0px;
    /* Elliptical shape 90% wide 100% tall centered at the right middle of the image. */
    clip-path: ellipse(100% 100% at 100% 50%); 
}

#banner h2 {
    font-size: 50px;
    /* font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif"; */
    margin-bottom: 10px;
}

#banner p {
    /* color: #555; */
    font-size: 19.01px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 15px;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 24px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.786);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

/* Right Banner */
#banner-right {
    width: 30vw;
}

#banner-right img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    background-size: cover;
}

.banner-right-text {
    padding: 0px 18px 18px 18px;
    /* position: absolute; */
    top: 325px;
    width: 100%;
    cursor: pointer;
}

.banner-right-text p {
    margin-bottom: 0px !important;
    letter-spacing: 0.13505px !important;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 27.01px !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
}

.banner-right-text span {
    letter-spacing: 0.08px !important;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.25 !important;
}

.banner-right-content {
    border-radius: 12px;
    transition: 0.3s;
}

.banner-right-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Adjust the height of the shadow effect */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    /* padding: 10px; */
    border-radius: 12px;
}

/* Dsicover Gifts */

#discover {
    /* margin: 40px 0; */
    margin-bottom: 50px;
}

h2 {
    /* font-size: 24px; */
    /* margin-bottom: 10px; */
    letter-spacing: .13505px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 27.01px;
    font-weight: 500;
    line-height: 1.3;
}

.cards-container {
    /* padding: 2px 16px; */
    padding: 0px 36px;
    margin: 0px 60px;
}

.cards-container div {
    margin-bottom: 6px;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border: none;
    transition: 0.3s;
    text-align: center;
    width: 160px;
    padding: 0px;
    /* height: 192px; */
    height: fit-content;
    margin: 5px;
    /* transition: all 0.3s ease; */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    /* background-color: #ffffff00; */
}

.card img {
    width: 160px;
    height: 100%;
    /* background-color: #eaeaea;
    border: 1px solid; */
    border-radius: 50%;
    padding: 10px;
    transition: opacity 0.2s ease-out;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
}

/* .card img:hover {
    transform: scale(1.1);
} */

.card:hover {
    /* padding: 10px; */
    border-radius: 10px;
    /* border: 2px solid black; */
    background-color: white;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    box-shadow: 0px 4px 8px 3px #00000026;
    cursor: pointer;
}

/* Most Popular Categories */

#most-popular-categories {
    padding: 0px 50px;
    margin-bottom: 50px;
}

.most-pop-categ-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 18px;
    /* margin-bottom: 30px; */
}

.most-popular-card {
    border: none;
    /* transition: 0.3s; */
    /* min-width: 130px; */
    /* padding: 0px; */
    height: fit-content;
    /* margin: 5px; */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.most-popular-card img {
    width: 100%;
    height: 245px;
    border-radius: 10px;
    padding: 0;
    /* transition: opacity 0.2s ease-out; */
}

.most-popular-card:hover img {
    box-shadow: 0px 4px 8px 3px #00000026;
    cursor: pointer;
}

/* Personalized Gifts */

#personalized-gifts {
    /* flex-wrap: wrap;
    display: flex !important; */
    margin: 80px 25px;
    padding: 0px 18px;
}

.personalized-gifts-text {
    align-self: center;
    /* justify-content: flex-end; */
    padding-left: 42px;
}

.personalized-gifts-text p {
    color: #595959 !important;
}

.text-p-2 {
    padding-bottom: 24px;
    padding-right: 42%;
}

.shop-btn {
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    outline: none;
    border: none;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #0e0e0e17;
    color: #222;
    transition: transform 0.2s cubic-bezier(0.37, 0.23, 1, -1.51), opacity 0.15s ease-out;
}

.shop-btn:hover {
    background-color: #0e0e0e2e;
    box-shadow: 0px 4px 8px 3px #00000026;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
    width: 100vw; /* Viewport width */
    max-width: 100%; /* Prevents extra space */
    margin-bottom: 50px;
}

.grid-item1 {
    grid-column: span 2;
    width: 100%;
}

.grid-item {
    justify-self: center;
    align-self: center;
    width: 100%;
}

.grid-item img {
    object-fit: cover;
    width: 100%; 
    height: 100%; 
    transition: 0.3s ease-in-out;
    border-radius: 12px;
}

.gift-grid-card {
    position: relative;
    border: none;
    overflow: hidden; /* Prevents image from overflowing */
    /* height: fit-content; */
    height: 314px;
    width: 100;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 12px;
}

.fav-btn button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    top: 5px;
    right: 5px;
    background-color: white;
    border: 1px solid #949494;
    padding: 6px;
    margin-top: 6px;
    margin-right: 4px;
    /* text-decoration: none; */
    /* display: inline-block; */
    border-radius: 50%;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.fav-btn button:hover {
    box-shadow: 0px 4px 8px 3px #00000026;
}

.fav-btn img {
    width: 18px !important;
}

.price-badge {
    padding: 0px 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.price-badge-2 {
    /* display: none !important; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 275px;
    right: 230px;
    border: 1px solid #949494;
    background-color: #fff;
    color: #222;
    word-break: break-word;
    min-width: 25px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    border-radius: 12px;
    padding: 6px 8px;
    transition: visibility 0s, opacity 0.3s ease-in-out; 
}

.gift-grid-card:hover {
    display: block;
    box-shadow: 0px 4px 8px 3px #00000026;
}

.gift-grid-card:hover .price-badge-2 {
    /* display: block !important; */
    visibility: visible;
    opacity: 1;
}

.gift-grid-card:hover .fav-btn button {
    visibility: visible;
    opacity: 1;
}

.gift-grid-card img:hover {
    transform: scale(1.08); /* Zoom in by 10% */
}

/* Footer */
#footer-div {
    position: relative;
    /* width: 100%; */
    width: fit-content;
    /* margin: 0; */
    margin-top: 100px;

    /* margin-top: 250px; */
}

.footer-title {
    letter-spacing: 0px;
    font-family: Guardian-EgypTT, Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, "serif";
    font-size: 42px;
    font-weight: 300;
    line-height: 1.1;
}

.footer-content {
    padding: 36px 54px !important;
    /* margin: 0px !important; */
    background-color: #fffcdb;
    background-size: 100%;
    width: 100%;
}

.footer-content h2, .footer-content p {
    padding: 0px 50px;
}

.footer-content p {
    letter-spacing: 0.16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

footer {
    position: absolute;
    background-color: #fffcdb;
    /* padding: 50px; */
    bottom: 0px;
    left: 0;
    right: 0;
    /* width: 100%; */
    width: 100vw;
}

/* Cart */
#cart-page {
    /* padding-top: 24px; */
    font-family: 'Roboto', 'Inter', system-ui, sans-serif;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0px 60px;
}

.cart-text-1 span {
    font-size: 16;
    line-height: 1.7;
    letter-spacing: 0.16px;
}

#card-empty {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    /* padding: 12px 0px; */
    /* margin-top: 24px;
    margin-bottom: 36px; */
}