#payment-form h1 {
    margin-bottom: 24px;
}

.payment-method {
    border-top: 1px solid #0e0e0e2e;
    padding: 18px 0px;
    font-size: 16px;
    font-weight: 400;
}

.radio {
    align-items: center;
    min-height: 30px;
    display: flex;
    position: relative;
}

.name-text {
    color: #757575; 
    font-weight: 500;
    margin-bottom: 5px;
}

/* .radio input[type=radio] {
    position: absolute;
    width: 30px;
    min-width: 30px;
    height: 40px;
    top: 0;
    left: 0;
    background: #222;
} */

/* Style the radio button */
input[type="radio"] {
    appearance: none; /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px; /* Outer circle size */
    height: 30px;
    border: 2px solid #949494; /* Grey border */
    border-radius: 50%; /* Make it circular */
    background-color: #fff; /* White background */
    cursor: pointer;
    position: relative;
}

/* Change color when checked */
input[type="radio"]:checked {
    background-color: #000; /* Fill color to black */
    border: 2px solid #000; /* Black border */
}

/* Add white inner circle on checked */
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; /* Inner circle size */
    height: 10px;
    background-color: #fff; /* White color */
    border-radius: 50%; /* Make it circular */
}


.radio label {
    padding-left: 15px;
    width: 100%;
    font-weight: 500;
}

label div {
    align-items: center;
    justify-content: space-between !important;
    display: flex;
}

.payment-card-imgs {
    display: inline-block;
    /* margin-right: 20px; */
}

.payment-card-imgs img {
    text-align: center;
    vertical-align: middle;
    background: #fdfdfc;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 40px;
    height: 30px;
    display: inline-block;
    box-shadow: 0 1px #e2e2e233;
}

#credit-card-fields {
    display: none;
    margin-left: 20px;
}

.card-number-div {
    position: relative;
    align-items: center;
}

.card-number-div input {
    padding-left: 60px !important;
}

.card-number-div #card-cvv {
    padding-left: 12px !important;
}

.card-number-div #card-num {
    position: absolute;
    width: 40px;
    top: 10px;
    left: 10px;
}

.card-number-div #card-num-lock {
    position: absolute;
    width: 20px;
    top: 20px;
    right: 10px;
}