.body {
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial,
    "sans-serif";
}
.card {
  border: none;
}
.card:hover {
  /* padding: 10px; */
  border-radius: 10px;
  /* border: 2px solid black; */
  background-color: white;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  box-shadow: 0px 4px 8px 3px #00000026;
  cursor: pointer;
}
.card-body {
  padding: 0;
}
.card img {
  border-radius: 0;
  margin-top: 1rem;
  object-fit: cover;
  height: 293px;
}

.card-text .caption {
  font-size: 14px;
  color: rgb(8, 8, 8);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.review .star {
  color: rgb(177, 177, 177);
}
.checked {
  color: orange;
}
.review .number {
  font-size: 12.99px;
  font-weight: 400;
  color: #595959 !important;
}
.card-text .price {
  font-size: 16px;
  font-weight: 500;
}
.card-text .price .offer {
  white-space: nowrap !important;
  padding-top: 1px;
  padding-right: 3px;
  font-size: 12px;
  color: #0f743b !important;
}
.card-text .price .offer .old-price {
  text-decoration: line-through; /* Add a strikethrough */
  color: #888; /* Make it a lighter color */
  margin-right: 5px; /* Add some spacing */
}

.card-text .price .offer .discount {
  font-size: smaller; /* Make it a bit smaller */
}
.card-text .ad {
  /*ad by ManhattanBox*/
  font-size: 12.99px;
  font-weight: 400;
  color: #595959;
}
.btn-light {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 12.99px;
  line-height: 1.4;
  border: solid 1px black;
  border-radius: 2em;
  /* text-wrap: nowrap; */
}
.btn-light:hover {
  box-shadow: 0px 0px 7px 0px #a8a8a8;
  background-color: white;
  border: solid 1px black;
}
.filter input {
  border: none;
  background-color: white;
}
.page-title {
  letter-spacing: 0.46515px;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 31.01px;
  font-weight: 300;
  text-align: center !important;
}
.page-caption {
  text-align: center !important;
  color: #595959 !important;
  letter-spacing: 0.1299px;
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial,
    "sans-serif";
  font-size: 12.99px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 900px;
  margin: 0 auto;
}
.sub-cat img {
  margin: 0 5px;
}
.favorite-btn {
  position: absolute;
  top: 21px;
  right: 21px;
  background-color: white;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/*additionl*/
/* .card:hover {
  transform: translateY(-2px);
} */
.favorite-btn svg {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: #333;
  stroke-width: 2;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.favorite-btn.active svg {
  fill: #ff3e6c;
  stroke: #ff3e6c;
}
.card:hover .favorite-btn {
  opacity: 1;
  transform: scale(1);
}

.hide-caption {
  display: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -143px;
  min-width: 200px;
}

.long-desc {
  position: relative;
  display: inline-block;
}

.hide-cap {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 13px;
  /* width: max-content; */
  min-width: 600px;
  /* max-width: 300px; */
  z-index: 100;
  /* pointer-events: none;  */
}

.btn-close {
  position: relative;
  font-size: 18px;
  cursor: pointer;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/***********Nada: Filter sec*********************/

body .filter-page {
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial,
    "sans-serif";
  font-size: 13px;
  max-height: 80vh;
  /* overflow-y: auto; */
}
.filter-page .btn-outline-secondary {
  width: 100%;
  text-align: left;
  border: 1px solid black;
}
.filter-page .price-filter {
  text-align: center;
  width: 300px;
  padding: 10px;
}

.filter-page .price-display {
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.filter-page .font-filter-header {
  letter-spacing: 0.1299px;
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial,
    "sans-serif";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
.filter-page ul {
  list-style-type: none;
  padding-left: 20px;
}
.filter-page li {
  cursor: pointer;
  margin: 5px 0;
}
.filter-page .nested {
  display: none;
}

.filter-section {
  margin-top: 1rem;
}
.filter-page .custom {
  display: none;
}
.filter-page .custom.active {
  display: block;
}
.offcanvas-body {
  max-height: 80vh; /* Prevent it from growing indefinitely */
  overflow-y: auto; /* Enable scrolling */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.categFilter {
  appearance: none;
  width: 100%;
  margin-bottom: 7px;
  border-radius: 21px;
  height: 2em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

/*********filter tags*************/
.filter-tags-container {
  display: flex;
  flex-wrap: wrap; /* Ensures wrapping if too many tags */
  gap: 8px; /* Adds spacing between tags */
}
.filter-tag {
  display: inline-flex;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 3px;
  margin-top: 7px; /*Respect your neighbor "(*/
}
.close-btn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer;
  color: #333;
}
.close-btn:hover {
  color: #de690f;
}
/****************************Filter Button*************************************/
.filter-apply {
  /* position: sticky;
  bottom: 0;
  margin-top: 23px; */
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  /* padding: 10px;
  text-align: center; */
}
.filter-apply .btn-apply {
  font-size: 16px;
  color: #ebebeb;
  background-color: #f1641e;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  width: 150px;
  margin-left: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.filter-apply .btn-apply:hover {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(255, 255, 255, 0.2);
}
.filter-apply .btn-apply:active {
  transform: translateY(2px);
}
.buttonsCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: auto;
}
/**************/
.inactive {
  display: none;
}
/*Sort*/
.sort-select {
  background-color: white;
  border-radius: 21px;
  border: 1px solid black;
  padding-left: 9px;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  max-width: 60%;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}
.custom-dropdown-toggle {
  width: 100%;
  padding: 7px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  background: white;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}
.custom-dropdown-toggle:hover {
  background: #e9e9e9;
}
.custom-dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 0;
  display: none;
  top: 100%; /* Position right below the toggle button */
  max-height: 200px; /* Limit height if needed */
  overflow-y: auto; /* Add scrolling to the dropdown itself if it's too tall */
  z-index: 1000;
}
.custom-dropdown-item {
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}
.custom-dropdown-item:hover {
  background: #f5f5f5;
}
.custom-dropdown.active .custom-dropdown-menu {
  display: block;
}
